*{
    font-family: 'Times New Roman', Times, serif;
}
.header{
    font-size:18px;
    color: #1e58c4;
    font-weight: normal;
    margin:0px auto;
    text-align: center;
    vertical-align: top;
    text-decoration: none;
}
.subheader{
    font-size: 16px;
        color: black;
        font-weight: normal;
        margin: 0px auto;
        text-align: left;
        vertical-align: top;
        text-decoration: none;
}
.about-description-en {
    font-size: 14px;
    text-align: justify;
    vertical-align: top;
    text-decoration: none;
    margin: 0px auto;
    padding: 0px;
    line-height: 40px;
}

.about-page-description {
    font-size: 14px;
    text-align: left;
    vertical-align: top;
    text-decoration: none;
    margin: 0px auto;
    padding: 0px;
    line-height: 35px;
}

.description{
    width: 100%;
    height:auto;
    margin:0px auto;
    padding:0px;
    text-align: justify;
    vertical-align: top;
    text-decoration: none;
    text-indent: 25px;
    margin-bottom:10px;
    margin-top:5px;
}
.faq_description{
    width: 100%;
    height:auto;
    margin:0px auto;
    padding:0px;
    text-align: justify;
    vertical-align: top;
    text-decoration: none;
    margin-bottom:10px;
    margin-top:10px;
}
.product-img{
    width: 100%;
    height: 250px;
    box-shadow: 1px 2px 2px black;
    border-radius: 5px;
    transition:all,0.7s 0s ease-in-out;
}
.product-img:hover{
    box-shadow:none;
    scale: 1.2;
}

.customContainer {
    width: 100%;
    height: 250px;
    margin: 0px auto;
    margin-top:10px;
}

.customElement {
    width: 100%;
    height: 250px;
    position: relative;
}

.customElement .card_title {
    width: 100%;
    height:auto;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
    background-color: rgba(123, 122, 122, 0.5);
    font-size: 16px;
    text-wrap:wrap;
    padding:5px;
}





.customElement img {
    width: 100%;
    height: 250px;
    object-fit: fill;
    box-shadow: 1px 1px 8px black;
    transition: all 1s ease-in-out;
}

.customElement img:hover {
    box-shadow: none;
}




/*Footer*/
.personalContainer {
    width: 100%;
    height: 110px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    color:white;
}

.personalContainerLimited {
    width: 100%;
    height: auto;
    margin: 0px auto;
    padding: auto;
    text-align: center;
}

.personalCardGrid {
    width: 100%;
    height: 110px;
}

.personalCardColumnOne {
    display: inline-block;
    float: left;
    width: 30%;
    height: 110px;
}

.personalCardColumnTwo {
    display: inline-block;
    float: left;
    width: 70%;
    height: 110px;
    background: linear-gradient(90deg, rgba(42,42,45,1) 0%, rgba(114,116,120,1) 50%, rgba(250,250,250,1) 100%);

}

.personalCardColumnOne>img {
    width: 100%;
    height: 110px;
    border-radius: 5px;
}



/*Footer News*/
.gallery {
    --s: 150px;
    /* control the size */
    --g: 10px;
    /* control the gap */
    --f: 1.5;
    /* control the scale factor */

    display: grid;
    gap: var(--g);
    width: calc(3*var(--s) + 2*var(--g));
    aspect-ratio: 1;
    grid-template-columns: repeat(3, auto);
}

.gallery>img {
    width: 0;
    height: 0;
    min-height: 100%;
    min-width: 100%;
    object-fit: fill;
    cursor: pointer;
    filter: grayscale(80%);
    transition: .35s linear;
}

.gallery img:hover {
    filter: grayscale(0);
    width: calc(var(--s)*var(--f));
    height: calc(var(--s)*var(--f));
}



/*Videos*/

.videosMain {}

.iframe {
    width: 350px;
    height: 150px;
}
.iframe-video {
    width: 100%;
    height: 530px;
    margin-bottom:16px;
}

.product_detail_photo{
    width:100%;
    height:250px;
    margin:0px;
    padding:0px;
    border:none;
    text-align: center;
    vertical-align: top;
    text-decoration: none;
    box-shadow: 2px 4px 5px gray;
    transition: all 0.6s 0s linear;
    cursor: pointer
}
.product_detail_photo:hover{
    width:100%;
    height:250px;
    margin:0px;
    padding:0px;
    border:none;
    text-align: center;
    vertical-align: top;
    text-decoration: none;
    cursor: pointer;
    box-shadow:none;
    scale:1.1;
}

.product_gallery{
    box-shadow: 2px 2px 5px gray;
    border:none;
    border-radius: 15px;
}
.footer-news-img{
    cursor: pointer;width:120px;height:110px;margin-bottom:10px;
}
.dropdown-item:active{
    background-color:#1357bc;
}
.logo_mekmar {
    width: 180px;
    height: 32px;
    margin: 0px auto;
    margin-top: 0px;
  }
.footer-span{
    color:black;
    padding-left:5px;
}
.footer-span:hover{
    color:white;
    text-decoration: none;
}
.categories-slide{

}
.categories-slide:hover {
    color:#1357bc;
}

.contact-personal:hover{
    color:#1357bc
}


@media screen and (max-width:576px) {
    .footer_about_description{
        font-size:14px;
        line-height: 100%;
    }
                .videosMain {
                    display: block;
                }
        
                .videosElement {
                    width: 100%;
                }
    .carousel-custom{
        display:none;
    }
    .filter-custom{
        display:none;
    }
    .footer-news-img{
        cursor: pointer;width:100px;height:100px;margin-bottom:10px;
    }
}



