*{
    font-family: 'Times New Roman', Times, serif;
}
.header{
    font-size:18px;
    color:blue;
    font-weight: bold;
    margin:0px auto;
    text-align: center;
    vertical-align: top;
    text-decoration: none;
}
.subheader{
    font-size: 16px;
        color: black;
        font-weight: bold;
        margin: 0px auto;
        text-align: left;
        vertical-align: top;
        text-decoration: none;
}
.about-description {
    font-size: 14px;
    text-align: justify;
    vertical-align: top;
    text-decoration: none;
    margin: 0px auto;
    padding: 0px;
    line-height: 35px;
}

.about-page-description {
    font-size: 14px;
    text-align: left;
    vertical-align: top;
    text-decoration: none;
    margin: 0px auto;
    padding: 0px;
    line-height: 35px;
}

.description{
    width: 100%;
    height:auto;
    margin:0px auto;
    padding:0px;
    text-align: justify;
    vertical-align: top;
    text-decoration: none;
    text-indent: 25px;
    margin-bottom:10px;
    margin-top:10px;
}
.faq_description{
    width: 100%;
    height:auto;
    margin:0px auto;
    padding:0px;
    text-align: justify;
    vertical-align: top;
    text-decoration: none;
    margin-bottom:10px;
    margin-top:10px;
}
.product-img{
    width: 100%;
    height: 250px;
    box-shadow: 1px 2px 2px black;
    border-radius: 5px;
    transition:all,0.7s 0s ease-in-out;
}
.product-img:hover{
    box-shadow:none;
    scale: 1.2;
}

.customContainer {
    width: 100%;
    height: 250px;
    margin: 0px auto;
    margin-bottom: 55px;
}

.customElement {
    width: 100%;
    height: 250px;
    position: relative;
}

.customElement .card_title {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
    background-color: rgba(123, 122, 122, 0.5);
    font-size: 14px;
    padding:0px;
}



.customElement img {
    width: 100%;
    height: 250px;
    object-fit: fill;
    box-shadow: 1px 1px 8px black;
    transition: all 1s ease-in-out;
}

.customElement img:hover {
    box-shadow: none;
}




/*Footer*/
.personalContainer {
    width: 100%;
    height: 110px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 10px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(106,106,121,1) 42%, rgba(0,212,255,1) 100%);
    color:white;
}

.personalContainerLimited {
    width: 100%;
    height: auto;
    margin: 0px auto;
    padding: auto;
    text-align: center;
}

.personalCardGrid {
    width: 100%;
    height: 110px;
}

.personalCardColumnOne {
    display: inline-block;
    float: left;
    width: 25%;
    height: 110px;
}

.personalCardColumnTwo {
    display: inline-block;
    float: left;
    width: 75%;
    height: 110px;
}

.personalCardColumnOne>img {
    width: 100%;
    height: 110px;
    border-radius: 5px;
}



/*Footer News*/
.gallery {
    --s: 150px;
    /* control the size */
    --g: 10px;
    /* control the gap */
    --f: 1.5;
    /* control the scale factor */

    display: grid;
    gap: var(--g);
    width: calc(3*var(--s) + 2*var(--g));
    aspect-ratio: 1;
    grid-template-columns: repeat(3, auto);
}

.gallery>img {
    width: 0;
    height: 0;
    min-height: 100%;
    min-width: 100%;
    object-fit: fill;
    cursor: pointer;
    filter: grayscale(80%);
    transition: .35s linear;
}

.gallery img:hover {
    filter: grayscale(0);
    width: calc(var(--s)*var(--f));
    height: calc(var(--s)*var(--f));
}



/*Videos*/
.customContainer {
    width: 100%;
    height: 250px;
    margin: 10px auto;
}

.customElement {
    width: 100%;
    height: 250px;
    position: relative;
}

.customElement .card_title {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
    background-color: rgba(123, 122, 122, 0.5);
    font-size: 14px;
}

.customElement img {
    width: 100%;
    height: 250px;
    object-fit: fill;
    box-shadow: 1px 1px 8px black;
    transition: all 1s ease-in-out;
}

.customElement img:hover {
    box-shadow: none;
}
.videosMain {}

.iframe {
    width: 350px;
    height: 150px;
}
.iframe-video {
    width: 100%;
    height: 540px;
    margin-bottom:30px;
}

.product_detail_photo{
    width:100%;
    height:250px;
    margin:0px;
    padding:0px;
    border:none;
    text-align: center;
    vertical-align: top;
    text-decoration: none;
    box-shadow: 2px 4px 5px gray;
    transition: all 0.6s 0s linear;
    cursor: pointer
}
.product_detail_photo:hover{
    width:100%;
    height:250px;
    margin:0px;
    padding:0px;
    border:none;
    text-align: center;
    vertical-align: top;
    text-decoration: none;
    cursor: pointer;
    box-shadow:none;
    scale:1.1;
}

.product_gallery{
    box-shadow: 2px 2px 5px gray;
}

@media screen and (max-width:576px) {
    .footer_about_description{
        font-size:14px;
        line-height: 100%;
    }
                .videosMain {
                    display: block;
                }
        
                .videosElement {
                    width: 100%;
                }
}



